@model KundenTeileNrFormViewModel
@{ 
      var ui = CommonHelper.GetUserInfo();
 }
<script type="text/javascript">

    $(document).ready(function () {
        RenderPageSize();
    });

    $(window).resize(function () {
        RenderPageSize();
    });

    function RenderPageSize() {
        var contentHeight = $(window).height() - 400;
        splResizing.SetHeight(contentHeight);
        splResizing2.SetHeight(contentHeight);
    }

    function PaneResized(s, e) {
        RenderPageSize();
    }
    var oid;
    function DeleteKundeZuweisungZSBNr(id) {
        oid = id;
        viewForm2KundeZuweisungZSBNr.PerformCallback();
    }

    function viewForm2KundeZuweisungZSBNrOnBeginCallback(s, e) {
        e.customArgs['oid'] = oid;
    }

    function DeletePassKundeZuweisungZSBNr(id) {
        oid = id;
        viewFormPassKundeZuweisungZSBNr.PerformCallback();
    }

    function DeleteKundeZgRevision(id) {
        oid = id;
        viewForm2KundeZgRevision.PerformCallback();
    }


    function viewFormPassKundeZuweisungZSBNrOnBeginCallback(s, e) {
        e.customArgs['oid'] = oid;
    }

    function viewForm2KundeZuweisungZSBNrOnEndCallback(s, e) {
        oid = null;
    }

    function viewFormPassKundeZuweisungZSBNrOnEndCallback(s, e) {
        oid = null;
    }

    function viewForm1KundeZgRevisionOnBeginCallback(s, e) {
        e.customArgs['oid'] = oid;
    }

    function viewForm1KundeZgRevisionOnEndCallback(s, e) {
        oid = null;
    }

    var PassKundezuweisungZSBNrValue = null;

    function Grid_BatchEditStartEditing(s, e) {
        var templateColumn = s.GetColumnByField("PassKundezuweisungZSBNr");
        if (!e.rowValues.hasOwnProperty(templateColumn.index))
            return;

        var cellInfo = e.rowValues[templateColumn.index];

        PassKundezuweisungZSBNrValue = cellInfo.value;

        CbPassKundezuweisungZSBNr.PerformCallback()
    }

    function Grid_BatchEditEndEditing(s, e) {
        var templateColumn = s.GetColumnByField("PassKundezuweisungZSBNr");
        if (!e.rowValues.hasOwnProperty(templateColumn.index))
            return;

        var cellInfo = e.rowValues[templateColumn.index];
        cellInfo.value = CbPassKundezuweisungZSBNr.GetValue();
        cellInfo.text = CbPassKundezuweisungZSBNr.GetText();
        CbPassKundezuweisungZSBNr.SetValue(cellInfo.value);
        PassKundezuweisungZSBNrValue = cellInfo.value;
    }

    function CbPassKundezuweisungZSBNrBeginCallback(s, e) {
        e.customArgs['ID'] = PassKundezuweisungZSBNrValue;
    }


    function CbPassKundezuweisungZSBNrEndCallback(s, e) {
        if (CbPassKundezuweisungZSBNr.GetValue() == null && PassKundezuweisungZSBNrValue != null) {
            CbPassKundezuweisungZSBNr.SetValue(PassKundezuweisungZSBNrValue);
            CbPassKundezuweisungZSBNr.SetFocus();
        }
    }

    function CbPassKundezuweisungZSBNrKeyPress(s, e) {
        if (PassKundezuweisungZSBNrValue != null) {
            PassKundezuweisungZSBNrValue = null;
            CbPassKundezuweisungZSBNr.SetValue(null);
        }
    }

    var KundezuweisungZSBNrValue = null;

    function Grid_KundeBatchEditStartEditing(s, e) {
        var templateColumn = s.GetColumnByField("KundezuweisungZSBNr");
        if (!e.rowValues.hasOwnProperty(templateColumn.index))
            return;

        var cellInfo = e.rowValues[templateColumn.index];

        KundezuweisungZSBNrValue = cellInfo.value;

        CbKundezuweisungZSBNr.PerformCallback()
    }

    function Grid_KundeBatchEditEndEditing(s, e) {
        var templateColumn = s.GetColumnByField("KundezuweisungZSBNr");
        if (!e.rowValues.hasOwnProperty(templateColumn.index))
            return;

        var cellInfo = e.rowValues[templateColumn.index];
        cellInfo.value = CbKundezuweisungZSBNr.GetValue();
        cellInfo.text = CbKundezuweisungZSBNr.GetText();
        CbKundezuweisungZSBNr.SetValue(cellInfo.value);
        KundezuweisungZSBNrValue = cellInfo.value;
    }

    function CbKundezuweisungZSBNrBeginCallback(s, e) {
        e.customArgs['ID'] = KundezuweisungZSBNrValue;
    }


    function CbKundezuweisungZSBNrEndCallback(s, e) {
        if (CbKundezuweisungZSBNr.GetValue() == null && KundezuweisungZSBNrValue != null) {
            CbKundezuweisungZSBNr.SetValue(KundezuweisungZSBNrValue);
            CbKundezuweisungZSBNr.SetFocus();
        }
    }

    function CbKundezuweisungZSBNrKeyPress(s, e) {
        if (KundezuweisungZSBNrValue != null) {
            KundezuweisungZSBNrValue = null;
            CbKundezuweisungZSBNr.SetValue(null);
        }
    }
</script>
@using (Html.BeginForm("NewForm1", "Form", FormMethod.Post, new { id = "NewForm1Form", @class = "edit_form" }))
{
    @Html.Hidden("ID", Model.ID)
    @Html.Hidden("SessionKey", Model.SessionKey)
    <table style="width: 98%;" align="center">
        <tr>
            <td>
                @{
                    Html.RenderPartial("NewForm1MainData");
                }
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 50%;margin-top:15px;" align="right">
                    <tr>
                        <td style="width: 50%;">
                            @{
                                Html.DevExpress().Button(
                                        settings =>
                                        {
                                            settings.Name = "btnUpdate";
                                            settings.ControlStyle.CssClass = "button";
                                            settings.Text = "Speichern";
                                            settings.UseSubmitBehavior = false;
                                            if (ui != null && ui.UserRole == UserRole.Full)
                                            {
                                                settings.ClientSideEvents.Click = "function(s,e){ PostData('NewForm1Form');}";
                                            }
                                            else
                                            {
                                                settings.ClientSideEvents.Click = "function(s,e){ if (confirm('Sind Sie sicher?')) { PostData('NewForm1Form'); } else return false;}";
                                            }

                                            settings.Width = Unit.Percentage(99);
                                        }
                                ).GetHtml();
                            }
                        </td>
                        <td style="width: 50%;text-align:right;">
                            @{
                                Html.DevExpress().Button(
                                        settings =>
                                        {
                                            settings.Name = "btnCancel";
                                            settings.ControlStyle.CssClass = "button";
                                            settings.Text = "Stornieren";
                                            settings.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "Form", Action = "Form1Index" }) + "'; }";
                                            settings.Width = Unit.Percentage(99);
                                        }
                                    ).GetHtml();
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}

@{
    @Html.Partial("~/Views/Shared/Controls/DataSavingPanelPartial.cshtml")
}