<div class="copyright">
    @Html.DevExpress().Label(settings => {
        settings.EncodeHtml = false;
        settings.Text = "2019 &copy; by <a href=\"https://www.pass.de/startseite/\">PASS.</a>";
    }).GetHtml()
</div>